.container {
    background-image: url("https://bit.ly/2VqzVPa");
    background-size: cover;
}
#home {
    font-style: italic;
    padding: 0 4px;
}
h1 {
    background-color: grey;
    font-style: url("https://bit.ly/2T2WvLY");
    font-family: 'Tangerine', serif;
    font-size: 100px;
  }
  .cont {
    color: white;
    display: inline-flex;
  }
  .cent-a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.cont:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
  }
  li{
      font-size: x-large;
      font-weight: 800;
      color: white;
      list-style-type: none;
  }